.home {

  max-width: 1100px;

  margin: auto;

}

.subtitle {

  margin-bottom: 30px;

  opacity: .8;

}

.card {

  margin-top: 25px;

  padding: 20px;

  border-radius: 12px;

  background: #262626;

}

.online {

  color: #4CAF50;

  font-weight: bold;

}

.offline {

  color: #F44336;

  font-weight: bold;

}
